@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  *,
  *::before,
  *::after {
    touch-action: manipulation; /* disable double tap zoom */
    -webkit-tap-highlight-color: transparent; /* no black overlay on tap target */
    overflow-wrap: break-word; /* avoid overflows caused by long words */
    word-break: break-word; /* avoid overflows caused by long words */
    min-width: 0; /* some input elements have min-width by browser defaults */
    -webkit-font-smoothing: antialiased;
  }

  @font-face {
    font-family: "NLTitles";
    font-display: fallback;
    src: local("Roboto"), local("-apple-system"), url("/fonts/roboto.ttf");
  }

  /* disabled default state */
  *:disabled,
  [data-disabled="true"] {
    @apply pointer-events-none opacity-50;
  }
}

@layer components {
  /* custom styles */
  html,
  body {
    @apply bg-neutral-50 font-body leading-normal;
  }

  h1,
  .h1 {
    @apply mb-4 mt-12 font-title text-4xl font-bold leading-tight text-brand-500 sm:mb-8 sm:mt-16 sm:text-6xl;
  }

  h2,
  .h2 {
    @apply mb-4 mt-12 font-title text-3xl font-bold leading-tight text-brand-500 sm:mb-6 sm:mt-16 sm:text-4xl;
  }

  h3,
  .h3 {
    @apply mb-4 mt-12 font-title text-2xl font-bold leading-tight text-brand-500 sm:mb-6 sm:mt-16 sm:text-3xl;
  }

  h4,
  .h4 {
    @apply mb-4 mt-12 font-title text-xl font-bold leading-tight text-brand-500 sm:mb-6 sm:mt-16 sm:text-2xl;
  }

  h5,
  .h5 {
    @apply mb-4 mt-12 font-title text-lg font-bold leading-tight text-brand-500 sm:mb-6 sm:mt-16 sm:text-xl;
  }

  .strong,
  strong {
    @apply font-bold text-neutral-800;
  }

  /* https://github.com/withastro/astro/issues/5476 */
  picture {
    @apply contents;
  }
  source {
    @apply hidden;
  }

  .a-link {
    @apply text-brand-500 underline underline-offset-4;
  }

  article {
    h1 {
      @apply mt-0;
    }

    ul > li {
      @apply ml-5 list-[disclosure-closed];
    }

    ol > li {
      @apply ml-5 list-decimal;
    }

    p {
      @apply my-4;
      @apply text-base lg:text-justify;
    }

    img {
      @apply mx-auto my-8 rounded-lg;
    }

    img + em, picture + em {
      @apply mx-auto -mt-6 mb-8 block text-center text-sm italic text-neutral-500 md:w-2/3;
    }

    a {
      @apply text-brand-500 underline underline-offset-4;
    }

    li {
      @apply my-2;
    }

    hr {
      @apply hidden;
    }

    blockquote {
      @apply border-l-4 border-brand-400 bg-neutral-100 py-4 pl-4 pr-2 italic;
    }

    blockquote > *:first-child {
      @apply mt-0;
    }

    blockquote > *:last-child {
      @apply mb-0;
    }

    lite-youtube {
      @apply mx-auto my-8 w-full max-w-full;
    }
  }

  /* tooltip */
  .tooltip {
    position: relative;
  }

  .tooltipcontent {
    display: none;
  }

  .tooltip:hover > .tooltipcontent {
    position: absolute;
    padding: 4px 16px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: max-content;
    color: white;
    background-color: #565656;
    border-radius: 8px;
    margin-top: 16px;

    @apply text-sm;

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent #565656 transparent;
    }
  }
}
