@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    touch-action: manipulation; /* disable double tap zoom */
    -webkit-tap-highlight-color: transparent; /* no black overlay on tap target */
    overflow-wrap: break-word; /* avoid overflows caused by long words */
    word-break: break-word; /* avoid overflows caused by long words */
    min-width: 0; /* some input elements have min-width by browser defaults */
  }

  @font-face {
    font-family: "Roboto";
    font-display: fallback;
    src: local("Roboto"), url("/fonts/roboto.ttf");
  }
}

@layer components {
  html,
  body {
    line-height: 1.5;
    @apply bg-neutral-50 font-body;
  }

  h1,
  .h1 {
    @apply text-brand-500 mb-4 mt-12 font-title text-4xl font-bold sm:mb-8 sm:mt-16 sm:text-6xl;
  }

  h2,
  .h2 {
    @apply text-brand-500 mb-4 mt-12 font-title text-3xl font-bold sm:mb-6 sm:mt-16 sm:text-4xl;
  }

  strong {
    @apply font-bold text-neutral-800;
  }

  article {
    @apply mx-3 text-base md:text-justify;

    h1 {
      @apply mt-0;
    }

    ul > li {
      @apply ml-4 list-disc;
    }

    p {
      @apply my-4;
    }

    p:has(img) {
      @apply my-8 flex flex-col items-center;
    }

    img + em {
      @apply mt-2 text-center text-sm text-neutral-500;
    }

    a {
      @apply text-brand-500 underline underline-offset-4;
    }
  }
}
