@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    touch-action: manipulation; /* disable double tap zoom */
    -webkit-tap-highlight-color: transparent; /* no black overlay on tap target */
    overflow-wrap: break-word; /* avoid overflows caused by long words */
    word-break: break-word; /* avoid overflows caused by long words */
    min-width: 0; /* some input elements have min-width by browser defaults */
  }

  @font-face {
    font-family: "Roboto";
    font-display: fallback;
    src: local("Roboto"), url("/fonts/roboto.ttf");
  }
}

@layer components {
  html,
  body {
    @apply font-body;
  }

  h1,
  .h1 {
    @apply my-4 text-4xl font-bold text-brand sm:text-6xl;
  }

  h2,
  .h2 {
    @apply my-4 text-2xl font-bold text-brand sm:text-4xl;
  }
}
