---
import { Picture } from "astro:assets"
import Layout from "~/layouts/baseLayout.astro"
import heroImage from "@images/hero.png"
import SocialNetworks from "~/components/socialNetworks.astro"
import Reviews from "~/components/reviews.astro"
import GoIcon from "~/icons/go.astro"
import IndividualIcon from "~/icons/individual.astro"
import ParejaIcon from "~/icons/pareja2.astro"
import OnlineIcon from "~/icons/online.astro"
import PsiconutricionIcon from "~/icons/psiconutricion.astro"
import { reviews } from "~/content/reviews"
import ContactForm from "~/components/contactForm.astro"
import LocationIcon from "~/icons/location.astro"
import TimeIcon from "~/icons/time.astro"
import CalendarIcon from "~/icons/calendar.astro"
import ChecklistIcon from "~/icons/checklist.astro"
import SmileIcon from "~/icons/smile.astro"
---

<Layout>
  <div class="hero">
    <div class="content">
      <div class="text">
        <h1>Centro Núria León</h1>
        <h2 class="max-sm:text-2xl text-neutral-700">Psicología y Terapia</h2>
        <SocialNetworks />
        <p>
          Somos un Centro de Psicología y Psicoterapia en Barcelona. Realizamos
          <strong
            ><a class="a-link" href="/psicologo-barcelona">Terapia Presencial</a
            ></strong
          > y <strong
            ><a class="a-link" href="/psicologo-online">Online</a></strong
          > en Castellano y Catalán. Nuestro enfoque integrador es <strong
            >rápido, moderno y muy efectivo</strong
          >. El equipo está formado por <strong
            >Psicólogos Sanitarios Colegiados</strong
          > y también contamos con un servicio de psico-nutrición y nutrición clínica.
        </p>
        <!-- <a href="/sobre-mi" class="self-end a-link"
          >Más sobre Núria León <GoIcon /></a
        > -->
      </div>
      <div class="image">
        <Picture
          class="img"
          src={heroImage}
          height={600}
          alt="Nuria Leon, fundadora del Centro"
        />
      </div>
    </div>
  </div>

  <div class="lg:max-w-screen-xl mx-auto max-xl:px-4">
    <h2>¿Qué servicios ofrecemos?</h2>
    <p class="lg:mb-4">
      Ofrecemos una amplia variedad de servicios personalizados para cada caso.
      Ayudamos a <strong>Adultos</strong>, <strong>Adolescentes</strong>, <strong
        >Parejas</strong
      > y
      <strong>Familias</strong>.<span class="lg:inline hidden"><br /></span> Si tienes
      alguna pregunta o quieres saber si la terapia que ofrecemos es adecuada para
      tí, ¡no dudes en contactar con nosotros!
    </p>
    <div
      class="flex flex-wrap gap-x-4 gap-y-10 py-10 pb-4 lg:gap-4 justify-center"
    >
      <a href="/psicologo-barcelona" class="terapia-card">
        <div class="icon"><IndividualIcon /></div>
        <div class="title">
          <h3>Terapia Individual</h3>
          <span class="price">65€</span>
        </div>
        <span class="subtitle">Adultos y Adolescentes</span>
        <p>
          La terapia psicológica es para ti si sufres algun problema emocional o
          psicológico y quieres superarlo para sentirte mejor.
        </p>
        <ul>
          <li>Autoestima</li>
          <li>Ansiedad</li>
          <li>Depresión</li>
          <li>Fobias</li>
          <li>Estrés</li>
          <li>Miedos</li>
          <li>Duelos no resueltos</li>
          <li>Gestión de emociones</li>
          <li>Hipocondría</li>
          <li>Trauma</li>
          <li>Ansiedad Social</li>
          <li>Mobbing (Acoso Laboral)</li>
          <li>Burnout</li>
          <li>...</li>
        </ul>
        <button>Leer más <GoIcon /></button>
      </a>
      <a href="/psicologo-online" class="terapia-card">
        <div class="icon"><OnlineIcon /></div>
        <div class="title">
          <h3>Terapia Online</h3>
          <h3 class="price">60€</h3>
        </div>
        <span class="subtitle">Adultos y Adolescentes</span>
        <p>
          La terapia online es adecuada si quieres realizar terapia por
          videollamada. Es igual de eficaz que la presencial y se pueden
          combinar.
        </p>
        <ul>
          <li>Problemas personales</li>
          <li>Autoestima</li>
          <li>Depresión</li>
          <li>Ansiedad</li>
          <li>Estrés</li>
          <li>Miedos</li>
          <li>Duelo</li>
          <li>Mobbing (Acoso Laboral)</li>
          <li>Timidez</li>
          <li>...</li>
        </ul>
        <button>Leer más <GoIcon /></button>
      </a>
      <a
        href="/terapia-de-parejas-relaciones-familiares-barcelona"
        class="terapia-card"
      >
        <div class="icon"><ParejaIcon /></div>
        <div class="title">
          <h3>Terapia de Parejas / Familia</h3>
          <h3 class="price">95€</h3>
        </div>
        <span class="subtitle">Parejas y Familias</span>
        <p>
          La terapia de parejas es adecuada para quienes estén atravesando
          alguna situación complicada en pareja.
        </p>
        <ul>
          <li>Infidelidades</li>
          <li>Rupturas</li>
          <li>Celos</li>
          <li>Mentiras</li>
          <li>Relación tóxica</li>
          <li>Dependencia emocional</li>
          <li>Comunicación Asertiva</li>
          <li>Maternidad</li>
          <li>Paternidad</li>
          <li>Crianza</li>
          <li>Familia</li>
          <li>...</li>
        </ul>
        <button>Leer más <GoIcon /></button>
      </a>
      <a href="/psiconutricion-barcelona" class="terapia-card">
        <div class="icon"><PsiconutricionIcon /></div>
        <div class="title">
          <h3>Psico-Nutrición</h3>
          <h3 class="price">60€</h3>
        </div>
        <span class="subtitle">Adultos y Adolescentes</span>
        <p>
          Realizamos terapia psicológica acompañada de un asesoramiento
          nutricional personalizado para mejorar la relación alimentaria.
        </p>
        <ul>
          <li>TCA</li>
          <li>Hambre emocional</li>
          <li>Restricción</li>
          <li>Compensación</li>
          <li>Autoestima corporal</li>
          <li>Atracones</li>
          <li>Anorexia</li>
          <li>Bulímia</li>
          <li>Nutrición Clínica</li>
          <li>Fagofobia</li>
          <li>...</li>
        </ul>
        <button>Leer más <GoIcon /></button>
      </a>
    </div>
  </div>
  <div class="lg:max-w-screen-xl mx-auto max-xl:px-4">
    <h2>¿Cómo es la terapia?</h2>
    <div class="flex lg:flex-row flex-col gap-y-8">
      <div class="basis-1/2 flex flex-col gap-4 lg:pr-4">
        <div class="gap-4 flex items-center">
          <IndividualIcon
            class="shrink-0 self-start mt-1 text-[32px] w-[1em] text-brand-400 leading-none"
          />
          <p>
            Nuestro modelo de terapia es <strong>rápido</strong>, moderno y <strong
              >muy efectivo</strong
            >. Sin recaídas. Integramos herramientas de la terapia cognitivo
            conductual, terapia breve estratégica y terapia sistémica para
            adaptarnos a cada caso.
          </p>
        </div>
        <div class="gap-4 flex items-center">
          <TimeIcon
            class="shrink-0 self-start mt-1 text-[32px] w-[1em] text-brand-400 leading-none"
          />
          <p>Las sesiones duran 55 minutos.</p>
        </div>
        <div class="gap-4 flex items-center">
          <CalendarIcon
            class="shrink-0 self-start mt-1 text-[32px] w-[1em] text-brand-400 leading-none"
          />
          <p>Agendamos cada 1-2 semanas y progresivamente vamos espaciando.</p>
        </div>
        <div class="gap-4 flex items-center">
          <ChecklistIcon
            class="shrink-0 self-start mt-1 text-[32px] w-[1em] text-brand-400 leading-none"
          />
          <p>
            Preescribimos ejercicios para aplicar en casa y <strong
              >sentir mejoras desde el primer día</strong
            >.
          </p>
        </div>
        <div class="gap-4 flex items-center">
          <LocationIcon
            class="shrink-0 self-start mt-1 text-[32px] w-[1em] text-brand-400 leading-none"
          />
          <p>El despacho está en Verdaguer, 08037 Barcelona.</p>
        </div>
      </div>
      <div
        class="basis-1/2 border-brand-200 max-lg:border-t-2 max-lg:pt-8 lg:border-l-2 lg:pl-8 flex items-center justify-center"
      >
        <div
          class="relative grid grid-cols-[auto_1fr] border-l-4 border-brand-400 lg:ml-8 ml-6 gap-x-4 gap-y-6 lg:gap-y-10 lg:gap-x-8"
        >
          <div
            class="-ml-[26px] shrink-0 w-12 h-12 rounded-full border-4 border-brand-400 bg-white text-brand-500 flex items-center justify-center font-bold text-2xl lg:text-3xl"
          >
            1
          </div>
          <div class="flex flex-col">
            <p class="step-title">
              Contacta con nosotros explicando tu situación.
            </p>
            <a href="#TODO" class="a-link">
              Rellena el formulario <GoIcon />
            </a>
          </div>

          <div
            class="-ml-[26px] shrink-0 w-12 h-12 rounded-full border-4 border-brand-400 bg-white text-brand-500 flex items-center justify-center font-bold text-2xl lg:text-3xl"
          >
            2
          </div>
          <div class="flex flex-col">
            <p class="step-title">
              Contacta con nosotros explicando tu situación.cta con nosotros
              explicando tu situación.cta con nosotros explicando tu
              situación.cta con nosotros explicando tu situación.cta con
              nosotros explicando tu situación.
            </p>
            <a href="#TODO" class="a-link">
              Rellena el formulario <GoIcon />
            </a>
          </div>

          <SmileIcon
            class="-ml-[26px] shrink-0 bg-white text-brand-400 text-[48px]"
          />
          <div class="flex flex-col">
            <p class="step-title">¡Comienza tu cambio cuanto antes!</p>
            <a href="#TODO" class="a-link">
              Rellena el formulario <GoIcon />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="lg:max-w-screen-xl mx-auto max-xl:px-4 overflow-hidden flex flex-col md:flex-row gap-x-12"
  >
    <div class="basis-1/2">
      <h2>Reseñas ({reviews.length + 30}+)</h2>
      <Reviews />
    </div>
    <div class="basis-1/2">
      <h2>Pide tu cita, contacta con nosotros</h2>
      <p>
        Para contactar con nosotros puedes enviarnos un email con tu consulta a
        psicologa@nurialeon.com, contactar por Whatsapp en el 650011672 o
        escribirnos un mensaje a través del formulario de contacto:
      </p>
      <ContactForm />
    </div>
  </div>
</Layout>

<style>
  .hero {
    @apply flex items-center justify-center border-b-2 border-neutral-300 bg-neutral-200 p-4;

    h1 {
      @apply text-nowrap;
    }

    .content {
      @apply flex max-w-screen-xl grow flex-col-reverse items-center justify-center gap-y-4 lg:flex-row;

      .text {
        @apply flex flex-col items-center justify-center gap-0 sm:gap-4;
        > * {
          @apply m-0;
        }

        p {
          @apply mt-4 lg:mt-8 xl:ml-4;
        }
      }

      .image {
        @apply flex shrink-0 justify-center pt-2 lg:p-5 lg:pr-0;

        .img {
          @apply h-[300px] object-contain sm:h-[350px] lg:-mb-[100px] lg:h-[500px];
        }
      }
    }
  }

  .terapia-card {
    @apply flex grow flex-col items-center justify-start gap-2 rounded-lg border-2 border-brand-300 bg-brand-50 transition-all hover:border-brand-400 hover:shadow-lg sm:basis-1/3 lg:basis-0 lg:gap-4;

    .icon {
      @apply -mt-6 flex h-12 w-12 items-center justify-center rounded-full bg-brand-400 text-2xl text-white lg:-mt-7 lg:h-14 lg:w-14;
    }

    .title {
      @apply flex items-center justify-center gap-4 px-2 lg:px-4;
    }

    h3 {
      @apply m-0 text-xl;
    }

    .price {
      @apply m-0 shrink-0 font-title text-lg font-bold text-neutral-600;
    }

    .subtitle {
      @apply m-0 -mt-2 hidden text-sm italic text-neutral-700 lg:-mt-3;
    }

    p {
      @apply grow p-2 text-sm lg:px-4 lg:py-0 lg:text-base;
    }

    ul {
      @apply px-2 text-[0px] text-neutral-500 lg:px-4;
    }

    ul > li {
      @apply inline text-xs italic leading-snug before:content-[',_'] first:before:content-[''] lg:text-sm lg:leading-snug;
    }

    button {
      @apply w-full rounded-b-lg border-t-2 border-brand-300 bg-white px-4 py-2 text-center font-medium text-brand-500;
    }
  }
</style>
