---
import { Picture } from "astro:assets"
import Layout from "~/layouts/BaseLayout.astro"
import heroImage from "@images/hero.png"
import SocialNetworks from "~/components/socialNetworks.astro"
---

<Layout>
  <div class="hero">
    <div class="content">
      <div class="text">
        <h1>Centro Núria León</h1>
        <h2 class="max-sm:text-2xl text-neutral-700">Psicología y Terapia</h2>
        <SocialNetworks />
        <p>
          Ayudo a muchas personas en situaciones complejas (vivencia de duelos,
          separaciones, problemas de autoestima, enfermedades o diagnósticos
          clínicos, dolor crónico, pérdida de empleo, embarazos, abortos,
          agresividad, problemas familiares, relaciones amorosas difíciles, toma
          de decisiones importantes, ansiedad, depresión, problemas de conducta
          alimentaria, miedos…). Soy especialista en psicoterapia para adultos y
          jóvenes.
        </p>
      </div>
      <div class="image">
        <Picture
          class="img"
          src={heroImage}
          height={600}
          alt="Nuria Leon, fundadora del Centro"
        />
      </div>
    </div>
  </div>
  <p>Prueba</p>
</Layout>
<style>
  .hero {
    @apply flex items-center justify-center bg-neutral-200 p-4;

    .content {
      @apply flex max-w-screen-xl grow flex-col-reverse items-center justify-center gap-y-4 lg:flex-row;

      .text {
        @apply flex flex-col items-center justify-center gap-0 sm:gap-4;
        > * {
          @apply m-0;
        }

        p {
          @apply mt-4 lg:mt-8;
        }
      }

      .image {
        @apply flex shrink-0 justify-center pt-2 lg:p-5;

        .img {
          @apply h-[300px] object-contain sm:h-[450px] lg:-mb-[100px] lg:h-[600px];
        }
      }
    }
  }
</style>
