---

---

<div class="marker" id="gotoContactForm"></div>
<form method="POST" action="https://formspree.io/f/xvowdevg">
  <input
    type="text"
    name="Nombre"
    placeholder="Nombre y Apellidos"
    aria-label="Nombre y Apellidos"
    autocomplete="off"
    required
  />
  <input
    type="text"
    name="Telefono"
    placeholder="Teléfono de contacto"
    aria-label="Teléfono de contacto"
    minlength="9"
    autocomplete="off"
  />
  <input
    type="text"
    name="Email"
    placeholder="Email de contacto"
    aria-label="Email de contacto"
    autocomplete="off"
  />
  <textarea
    name="Mensaje"
    placeholder="Escribe tu consulta aquí. 
Si quieres reservar una cita, escribe también la fecha/hora deseada."
    autocomplete="off"
    required></textarea>
  <button type="submit">Contactar</button>
</form>
<script></script>
<style>
  form {
    display: flex;
    flex-direction: column;
    @apply gap-3 rounded-lg bg-brand-100 p-2 md:gap-4 md:p-4;
  }

  input,
  button,
  textarea {
    background-color: white;
    outline: none;
    padding: 0.5rem;
    @apply rounded-md border border-brand-500 placeholder:text-neutral-500;

    &:focus {
      box-shadow: 0 0 5px rgba(135, 76, 86, 0.8);
    }

    /* &:required:invalid {
      border-color: #e02f40;
    } */
  }

  textarea {
    min-height: 120px;
  }

  button {
    align-items: center;
    justify-items: center;
    @apply rounded-md border-2 border-brand-600 bg-brand-400 px-4 py-2 text-center text-base font-semibold text-white active:bg-brand-600 hover:bg-brand-500 md:px-16 lg:self-center;
  }
</style>
