---
import Email from "~/icons/email.astro"
import Go from "~/icons/go.astro"
import Whatsapp from "~/icons/whatsapp.astro"
---

<div class="marker" id="gotoContactForm"></div>
<form
  method="POST"
  action="https://formspree.io/f/xvowdevg"
  data-action="contact"
>
  <input
    type="text"
    name="Nombre"
    placeholder="Nombre y Apellidos"
    aria-label="Nombre y Apellidos"
    autocomplete="name"
    required
  />
  <input
    type="tel"
    name="Telefono"
    placeholder="Teléfono de contacto"
    aria-label="Teléfono de contacto"
    minlength="9"
    autocomplete="tel"
  />
  <input
    type="email"
    name="Email"
    placeholder="Email de contacto"
    aria-label="Email de contacto"
    autocomplete="email"
  />
  <textarea
    name="Mensaje"
    placeholder="Escribe tu consulta aquí. 
Si quieres reservar una cita, escribe también la fecha/hora deseada."
    autocomplete="off"
    required></textarea>
  <div
    class="flex flex-row-reverse flex-wrap-reverse gap-x-4 gap-y-2 items-center justify-start"
  >
    <button type="submit" name="action" value="email"
      ><Email class="mr-4 text-xl" /> Contactar por Email <Go
        class="ml-4"
      /></button
    >
    <button type="submit" name="action" value="whatsapp"
      ><Whatsapp class="mr-4 text-xl" /> Contactar por WhatsApp <Go
        class="ml-4"
      /></button
    >
  </div>
</form>
<script>
  const contactForm = document.querySelector<HTMLFormElement>(
    "form[data-action=contact]"
  )

  contactForm?.addEventListener("submit", (e) => {
    const name = contactForm.Nombre.value
    const telefono = contactForm.Telefono.value
    const email = contactForm.Email.value
    const text = contactForm.Mensaje.value
    const action = (e.submitter as HTMLInputElement)?.value

    if (!telefono && !email) {
      alert("Por favor introduce el Teléfono o Email de contacto")
      e.preventDefault()
      return
    }

    if (action !== "whatsapp") {
      return
    }

    const message = `Hola Núria, soy ${name} (${email}, ${telefono}).\n\n${text}`
    var url = "https://wa.me/34650011672?text=" + encodeURIComponent(message)
    const win = window.open(url, "_blank")
    if (win) {
      win.opener = null
      win.focus()
    } else {
      window.location.href = url
    }
    e.preventDefault()
    return
  })
</script>
<style>
  form {
    display: flex;
    flex-direction: column;
    @apply gap-3 rounded-lg bg-brand-100 p-2 md:gap-4 md:p-4;
  }

  input,
  button,
  textarea {
    background-color: white;
    outline: none;
    padding: 0.5rem;
    @apply rounded-md border border-brand-500 placeholder:text-neutral-500;

    &:focus {
      box-shadow: 0 0 5px rgba(135, 76, 86, 0.8);
    }

    /* &:required:invalid {
      border-color: #e02f40;
    } */
  }

  textarea {
    min-height: 120px;
  }

  button {
    display: flex;
    align-items: center;
    justify-items: center;
    @apply rounded-md border-2 border-brand-600 bg-brand-400 px-4 py-2 text-center text-base font-semibold text-white active:bg-brand-600 hover:bg-brand-500 md:px-4;
  }
</style>
