---
import Whatsapp from "~/icons/whatsapp.astro"
---

<a
  href="https://wa.me/34650011672"
  target="_blank"
  rel="noopener"
  class="flex items-center gap-1 lg:gap-2 fixed bottom-4 right-4 rounded-full p-2 lg:px-4 lg:bottom-8 lg:right-8 border border-neutral-300 bg-[#25d366]"
>
  <span class="hidden lg:block text-black">¿Hablamos?</span>
  <Whatsapp class="text-3xl lg:text-4xl text-white" />
</a>
