---
import Whatsapp from "~/icons/whatsapp.astro"
---

<a
  href="https://wa.me/34650011672"
  target="_blank"
  rel="noopener"
  class="flex items-center gap-1 lg:gap-2 fixed bottom-4 right-4 rounded-full bg-white p-2 shadow-xl lg:px-4 lg:bottom-8 lg:right-8 border border-neutral-300"
>
  <span class="hidden lg:block">¿Hablamos?</span>
  <Whatsapp class="text-3xl lg:text-4xl" />
</a>
