---
import Nav from "./nav"
import LocationIcon from "~/icons/location.astro"
import PhoneIcon from "~/icons/phone.astro"
import EmailIcon from "~/icons/email.astro"
---

<header class="sticky top-0">
  <Nav pathname={Astro.url.pathname} client:load />
  <ul class="contact-bar">
    <li>
      <LocationIcon class="icon" />
      <span>Bailèn 141, Esc. Izq. Entr. 6, 08037 Barcelona</span>
    </li>
    <li>
      <PhoneIcon class="icon" />
      <span>+34 650 011 672</span>
    </li>
    <li>
      <EmailIcon class="icon" />
      <span>psicologa@nurialeon.com</span>
    </li>
  </ul>
</header>
<style>
  .contact-bar {
    @apply flex flex-wrap items-center justify-center gap-x-4 gap-y-1 bg-brand px-4 py-1 text-sm text-white sm:py-2;

    li {
      @apply flex items-center gap-1;

      .icon {
        @apply text-lg;
      }
      span {
        @apply text-center leading-none;
      }
    }
  }
</style>
