---
import { servicios } from "~/content/servicios"

export type Props = {
  tipo: keyof typeof servicios
}

const { tipo } = Astro.props
---

<div
  class="problemas bg-brand-50 border-2 border-brand-300 py-6 px-4 my-12 md:my-16"
>
  <h2 class="mb-8 mt-2 text-center">
    ¿Qué problemas se pueden tratar en terapia?
  </h2>
  <ul class="columns-[145px_4] md:px-12">
    {
      [...servicios[tipo].problemas, "... y muchos más!"].map((p) => (
        <li class="my-1 mr-2 text-sm md:my-2 md:text-base">{p}</li>
      ))
    }
  </ul>
  <p class="mb-0 mt-8 text-neutral-700 italic text-center text-sm md:text-base">
    También podemos ayudarte si estás buscando un cambio en tu vida, sentirte
    mejor o conseguir algún objetivo concreto. ¡Preguntanos!
  </p>
</div>
