---
import { reviews } from "~/content/reviews"
import Star from "~/icons/star.astro"
import { Image } from "astro:assets"
---

<div class="">
  <div
    class="scrollbar flex flex-col gap-2 overflow-y-scroll max-h-[min(50vh,350px)]"
  >
    {
      reviews.map((r) => (
        <div class="text-neutral-800 border-l-4 p-2 flex flex-col bg-[#eff2f6] border-[#4285F4]/50 mr-1">
          <span>
            <i>
              <b>{r.name}</b> {r.date}
            </i>{" "}
            {new Array(r.score).fill(0).map(() => (
              <Star />
            ))}
          </span>
          <span class="text-sm italic text-neutral-800">{r.text}</span>
        </div>
      ))
    }
  </div>
  <a
    href="https://g.page/r/Cbk285IdPtR5EAg"
    class="flex flex-row items-center justify-center bg-white px-4 py-2 mt-2 border-2 border-[#4285F4]/50 rounded-md"
  >
    <div
      class="grow flex flex-row items-center justify-center gap-x-4 flex-wrap"
    >
      <Image
        src="https://www.nurialeon.com/images/google-reviews.webp"
        alt="Google Reviews"
        height={50}
        width={100}
      />
      <div class="flex flex-row items-center justify-center">
        <span class="text-xl font-medium">4,9</span>
        <Star />
        <span class="text-sm text-neutral-400">(+100)</span>
      </div>
    </div>
    <button
      class="bg-[#3480dc] text-white px-4 py-2 font-medium rounded-full shrink-0 hover:bg-[#3480dc]/90"
      >Ver más Reseñas &#x203A;</button
    >
  </a>
</div>
<style>
  .scrollbar {
  }
</style>
