---
import GoogleMaps from "~/icons/googleMaps.astro"
import Instagram from "~/icons/instagram.astro"
import Linkedin from "~/icons/linkedin.astro"
import Whatsapp from "~/icons/whatsapp.astro"
import Youtube from "~/icons/youtube.astro"
import Gmail from "~/icons/gmail.astro"
---

<div class="flex gap-2 py-2">
  <a href=""><GoogleMaps className="text-[24px]" /></a>
  <a href=""><Instagram className="text-[24px]" /></a>
  <!-- <a href=""><Youtube className="text-[24px]" /></a> -->
  <!-- <a href=""><Linkedin className="text-[24px]" /></a> -->
  <a href=""><Whatsapp className="text-[24px]" /></a>
  <a href=""><Gmail className="text-[24px]" /></a>
</div>
