<div class="networks">
  <a href="https://www.instagram.com/{{ site.data.settings.instagram }}/" alt="Instagram" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
      <ion-icon style="color: hsl(326deg, 35%, 48%)" name="logo-instagram"></ion-icon>
      <div class="tooltipcontent big bottom">@{{ site.data.settings.instagram }}</div>
  </a>
  <a href="https://www.facebook.com/{{ site.data.settings.facebook }}/" alt="Facebook" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
    <ion-icon style="color: hsl(220deg, 35%, 48%)" name="logo-facebook"></ion-icon>
    <div class="tooltipcontent big bottom">{{ site.data.settings.facebook }}</div>
</a>
  {%if site.data.settings.youtube %}
    <a href="https://www.youtube.com/channel/{{ site.data.settings.youtube }}/" alt="Youtube" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
        <ion-icon style="color: hsl(0deg 35% 50%)" name="logo-youtube"></ion-icon>
        <div class="tooltipcontent bottom">YouTube</div>
    </a>
  {% endif %}
  {%if site.data.settings.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.data.settings.linkedin }}/" alt="Linkedin" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
        <ion-icon style="color: hsl(213deg, 35%, 43%)" name="logo-linkedin"></ion-icon>
        <div class="tooltipcontent bottom">{{ site.data.settings.linkedin }}</div>
    </a>
  {% endif %}
  <a href="javascript:;" onclick="openWhatsApp('')" alt="WhatsApp" id="WhatsappLink" class="no-decoration tooltip">
      <ion-icon style="color: hsl(173deg, 35%, 31%)" name="logo-whatsapp"></ion-icon>
      <div class="tooltipcontent bottom">{{ site.data.settings.phone }}</div>
  </a>
  <a href="javascript:;" onclick="openEmail()" alt="Email" class="no-decoration tooltip">
      <ion-icon style="color: hsl(7deg, 35%, 41%)" name="mail-outline"></ion-icon>
      <div class="tooltipcontent big bottom">{{ site.data.settings.email }}</div>
  </a>
  <a href="javascript:;" onclick="openCall()" alt="Teléfono" class="no-decoration tooltip">
      <ion-icon name="call-outline"></ion-icon>
      <div class="tooltipcontent bottom">{{ site.data.settings.phone }}</div>
  </a>
</div>