<div class="networks">
  <a href="https://www.instagram.com/{{ site.data.settings.instagram }}/" alt="Instagram" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
      <ion-icon style="color: #C13584" name="logo-instagram"></ion-icon>
      <div class="tooltipcontent big bottom">@{{ site.data.settings.instagram }}</div>
  </a>
  <a href="https://www.facebook.com/{{ site.data.settings.facebook }}/" alt="Facebook" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
    <ion-icon style="color: #4267B2" name="logo-facebook"></ion-icon>
    <div class="tooltipcontent big bottom">{{ site.data.settings.facebook }}</div>
</a>
  {%if site.data.settings.youtube %}
    <a href="https://www.youtube.com/channel/{{ site.data.settings.youtube }}/" alt="Youtube" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
        <ion-icon style="color: #4267B2" name="logo-youtube"></ion-icon>
    </a>
  {% endif %}
  <!-- <a href="https://www.linkedin.com/in/nurialeonsallent/" alt="Linkedin" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
      <ion-icon style="color: #2867b2" name="logo-linkedin"></ion-icon>
      <div class="tooltipcontent big bottom">nurialeonsallent</div>
  </a> -->
  <a href="javascript:;" onclick="openWhatsApp('')" alt="WhatsApp" id="WhatsappLink" class="no-decoration tooltip">
      <ion-icon style="color: #128C7E" name="logo-whatsapp"></ion-icon>
      <div class="tooltipcontent bottom">{{ site.data.settings.phone }}</div>
  </a>
  <a href="javascript:;" onclick="openEmail()" alt="Email" class="no-decoration tooltip">
      <ion-icon style="color: #B23121" name="mail-outline"></ion-icon>
      <div class="tooltipcontent big bottom">{{ site.data.settings.email }}</div>
  </a>
  <a href="javascript:;" onclick="openCall()" alt="Teléfono" class="no-decoration tooltip">
      <ion-icon name="call-outline"></ion-icon>
      <div class="tooltipcontent bottom">{{ site.data.settings.phone }}</div>
  </a>
</div>