<div class="networks">
  <a href="https://www.instagram.com/{{ site.data.settings.instagram }}/" alt="Instagram" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
    <img src="{{site.baseurl}}/images/icons/instagram.svg" alt="instagram" width="32" height="32">
    <div class="tooltipcontent big bottom">@{{ site.data.settings.instagram }}</div>
  </a>
  <a href="https://www.facebook.com/{{ site.data.settings.facebook }}/" alt="Facebook" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
    <img src="{{site.baseurl}}/images/icons/facebook.svg" alt="facebook" width="32" height="32">
    <div class="tooltipcontent big bottom">{{ site.data.settings.facebook }}</div>
</a>
  {%if site.data.settings.youtube %}
    <a href="https://www.youtube.com/channel/{{ site.data.settings.youtube }}/" alt="Youtube" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
      <img src="{{site.baseurl}}/images/icons/youtube.svg" alt="youtube" width="32" height="32">
      <div class="tooltipcontent bottom">YouTube</div>
    </a>
  {% endif %}
  {%if site.data.settings.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.data.settings.linkedin }}/" alt="Linkedin" class="no-decoration tooltip" target="_blank" rel="noopener noreferrer">
      <img src="{{site.baseurl}}/images/icons/linkedin.svg" alt="linkedin" width="32" height="32">
      <div class="tooltipcontent bottom">{{ site.data.settings.linkedin }}</div>
    </a>
  {% endif %}
  <a href="javascript:;" onclick="openWhatsapp('')" alt="WhatsApp" class="no-decoration tooltip">
    <img src="{{site.baseurl}}/images/icons/whatsapp.svg" alt="whatsapp" width="32" height="32">
    <div class="tooltipcontent bottom">{{ site.data.settings.phone }}</div>
  </a>
  <a href="javascript:;" onclick="openEmail()" alt="Email" class="no-decoration tooltip">
    <img src="{{site.baseurl}}/images/icons/gmail.svg" alt="gmail" width="32" height="32">
    <div class="tooltipcontent big bottom">{{ site.data.settings.email }}</div>
  </a>
  <a href="javascript:;" onclick="openCall()" alt="Teléfono" class="no-decoration tooltip">
    <img src="{{site.baseurl}}/images/icons/phone.svg" alt="phone" width="32" height="32">
    <div class="tooltipcontent bottom">{{ site.data.settings.phone }}</div>
  </a>
</div>
