<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#874c56" />
  <link rel="icon" href="{{ site.url | append: site.baseurl | append: '/favicon.svg' }}" />
  <meta name="robots" content="index, follow" />

  <!-- Primary Meta Tags -->
  <title>{% if page.title %}{{ page.title | append: ' | ' | append: site.data.settings.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>
  <meta name="title" content="{% if page.title %}{{ page.title | append: ' | ' | append: site.data.settings.title }}{% else %}{{ site.data.settings.title }}{% endif %}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}">
  <meta name="image" content="{{ site.url | append: site.baseurl | append: '/meta-img.jpg' }}" />
  <meta itemprop="image" content="{{ site.url | append: site.baseurl | append: '/meta-img.jpg' }}" />
  <meta name="keywords" content="{{ site.data.settings.keywords }}" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}"> -->

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}" />
  <meta property="og:site_name" content="{% if page.title %}{{ page.title | append: ' | ' | append: site.data.settings.title }}{% else %}{{ site.data.settings.title }}{% endif %}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | append: ' | ' | append: site.data.settings.title }}{% else %}{{ site.data.settings.title }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}">
  <meta property="og:image" content="{{ site.url | append: site.baseurl | append: '/meta-img.jpg' }}" />
  <meta property="og:image:url" content="{{ site.url | append: site.baseurl | append: '/meta-img.jpg' }}" />
  <meta property="og:image:secure_url" content="{{ site.url | append: site.baseurl | append: '/meta-img.jpg' }}" /> 
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="150" />
  <meta property="og:image:height" content="150" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | absolute_url }}" />
  <meta name="twitter:site" content="@{{ site.data.settings.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.data.settings.twitter }}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | append: ' | ' | append: site.data.settings.title }}{% else %}{{ site.data.settings.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ site.url | append: site.baseurl | append: '/meta-img.jpg' }}" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>