<header class="topMenu">
  <div class="container big">
    <div class="row">
      <div class="col col-12">
        <!-- begin header -->
        <header class="header">

          <div class="logo">
            <a class="logo__link no-decoration" href="{{site.baseurl}}/">
            {%if site.data.settings.logo %}
              <img class="logo__image" src="{{ site.baseurl }}/images/{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}" width="32" height="32">
            {% else %}
              {{ site.data.settings.title }}
            {% endif %}
            </a>
          </div>

          <nav class="main-nav">

            <div class="main-nav__box">
              <div class="nav-icon__close">
                <img role="button" aria-label="Close" src="{{site.baseurl}}/images/icons/close.svg" alt="Close" width="32" height="32">
              </div>

              <ul class="nav__list list-reset">
                <li class="nav__item">
                  <a href="{{site.baseurl}}/" class="nav__link no-decoration">Inicio</a>
                </li>
                <li class="nav__item">
                  <a href="{{site.baseurl}}/sobre-mi/" class="nav__link no-decoration">Sobre mí</a>
                </li>
                <li class="nav__item">
                  <a href="{{site.baseurl}}/blog/" class="nav__link no-decoration">Blog</a>
                </li>
              </ul>

            </div>
          </nav>

          <div class="nav-buttons">
            <img class="nav__icon nav__icon-menu" role="button" aria-label="Menu" src="{{site.baseurl}}/images/icons/menu.svg" alt="Menu" width="32" height="32">
            <img class="nav__icon nav__icon-search" role="button" aria-label="Search" src="{{site.baseurl}}/images/icons/search.svg" alt="search" width="32" height="32">
          </div>

          <div class="header__overlay"></div>
        </header>
        <!-- end header -->
      </div>
    </div>
  </div>
  <div class="contact-topMenu">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          {{ site.data.settings.phone }} &nbsp;-&nbsp; {{ site.data.settings.email }}
        </div>
      </div>
    </div>
  </div>
</header>
