<!-- begin c-hero -->
<div class="me">
  <img src="{{site.baseurl}}/images/{{ site.data.settings.author.image }}" alt="Nuria Leon Psicologa Barcelona" width="580" height="326" data-action="zoom">
  <h1 class="title"><span class="no-wrap">Núria León&nbsp;</span><span class="subtitle">|&nbsp;Psicóloga</span></h1>
  <div class="text">{{ site.data.settings.author.bio }}</div>
  {% include contact-link.html %}
  <a href="{{site.baseurl}}/sobre-mi/" class="about-me navigation">Más sobre mí</a>
  {% include pricing.html %}
</div>
<!-- end hero -->
