<div class="opinions">
  <h2 class="title">Reseñas</h2>
  <div class="pre-shadow"></div>
  <iframe
    src="https://widgets.sociablekit.com/google-reviews/iframe/209282"
    frameborder="0"
  ></iframe>
  <div class="post-shadow"></div>
  <div class="links">
    <a
      class="no-decoration logos"
      href="https://g.page/r/Cbk285IdPtR5EAg"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="{{site.baseurl}}/images/google-reviews.png" width="100" />
      <span class="rating"
        >4.9<img
          src="{{site.baseurl}}/images/icons/star.svg"
          width="24"
          height="24"
        /><span class="count">(+100)</span></span
      >
    </a>
    <a
      class="action"
      href="https://g.page/r/Cbk285IdPtR5EAg/review"
      target="_blank"
      rel="noopener noreferrer"
      >Escribir Reseña</a
    >
  </div>
  <!-- https://www.sociablekit.com/app/users/widgets/update_embed/209282 -->
</div>
