<nav class="pagination">
  <div class="container">
    <div class="pagination__list">

      {% if paginator.previous_page %}
      
      {% if paginator.previous_page == 1 %}
        <a class="previous-link" href="{{ site.baseurl }}/blog/">Anterior</a>
      {% else %}
        <a class="previous-link" href="{{ site.baseurl }}/blog/{{ paginator.previous_page }}/">Anterior</a>
      {% endif %}
      
      {% else %}
        <span class="disabled">Anterior</span>
      {% endif %}

      <div class="counter-box">
        {% if paginator.page == 1 %}
          <span class="active-link">1</span>
        {% else %}
          <a class="no-decoration" href="{{ site.baseurl }}/blog/">1</a>
        {% endif %}


        {% for count in (2..paginator.total_pages) %}

        {% if count == paginator.page %}
          <span class="active-link">{{ count }}</span>
        {% else %}
          <a class="count-number" href="{{ site.baseurl }}/blog/{{ count }}/">{{ count }}</a>
        {% endif %}
        {% endfor %}
      </div>

      {% if paginator.next_page %}
      <a class="no-decoration next-link" href="{{ site.baseurl }}/blog/{{ paginator.next_page }}/">Siguiente</a>
      {% else %}
        <span class="disabled">Siguiente</span>
      {% endif %}

    </div>
  </div>
</nav>