<div class="pricing">
  <div class="price-cards">
    <a
      class="no-decoration price-card card"
      href="javascript:;"
      onclick="focusContactForm()"
    >
      <div class="img">
        <img
          src="{{site.baseurl}}/images/online.svg"
          alt="Sesión Online"
          width="76"
          height="48"
        />
      </div>
      <div class="title">Sesión Online</div>
      <div class="price">39€/h</div>
      <div class="a more">Leer más</div>
    </a>
    <a
      class="no-decoration price-card card"
      href="javascript:;"
      onclick="focusContactForm()"
    >
      <div class="img">
        <img
          src="{{site.baseurl}}/images/presencial.svg"
          alt="Sesión Presencial"
          width="63"
          height="48"
        />
      </div>
      <div class="title">Sesión Presencial</div>
      <div class="price">49€/h</div>
      <div class="a more">Leer más</div>
    </a>
  </div>
  <!-- <span class="cite">*precio IVA incluido.</span> -->
</div>
