.member {
  @apply mt-12 grid grid-rows-[auto_1fr] gap-2 sm:gap-4 md:mt-16 md:gap-8;
  grid-template-areas:
    "name"
    "img"
    "content";

  img {
    grid-area: img;
    @apply m-0 h-[275px] w-full justify-self-center object-cover sm:h-[350px] sm:w-auto md:h-[450px] md:w-auto md:max-w-[350px];
  }

  h2 {
    grid-area: name;
    @apply m-0;
  }

  .member__content {
    grid-area: content;
    & > *:first-child {
      @apply mt-0;
    }
  }

  .member__navigation {
    float: right;
  }

  @media only screen and (min-width: 768px) {
    grid-template-areas:
      "img name"
      "img content";
  }
}
