---
import { getCollection } from "astro:content"
import FormattedDate from "@components/FormattedDate.astro"
import { Image } from "astro:assets"
import Layout from "~/layouts/columnLayout.astro"

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)
---

<Layout title="Blog">
  <ul class="flex flex-col gap-8">
    {
      posts.map((post) => (
        <li class="flex flex-col">
          <a href={`/blog/${post.slug}/`} class="contents">
            {post.data.image && (
              <Image
                height={240}
                src={post.data.image}
                alt=""
                class="w-full object-cover h-[240px] border border-neutral-300"
              />
            )}
            <div class="mx-2 bg-white shadow-xl p-4 -mt-16 rounded-md border border-neutral-300">
              <p class="h4 m-0">{post.data.title}</p>
              <p class="date">
                <FormattedDate date={post.data.date} />
              </p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
