---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"

type Props = {
  title?: string
  description?: string
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
