.footer {
  position: relative;
  padding: 3rem 0 1rem;
  text-align: center;
  border-top: 1px solid $light-gray;
  background: $background-color;

  .contact {
    margin-bottom: 15px;
  }

  .copyright {
    a {
      color: $dark;
      &:hover {
        color: $brand-color;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 3rem 0 2rem;
  }
}