.me {
  grid-area: me;
  align-self: end;
  margin: 3rem 0 1rem 0;
  display: inline-grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "img title title"
    "img text text"
    "img networks about-me";
}

.me > img {
  grid-area: img;
  object-fit: cover;
  align-self: center;
  border-radius: 50%;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  margin-right: 25px;
}

.me .title {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  grid-area: title;
  align-self: center;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.me .title .subtitle {
  font-weight: normal;
}

.me .text {
  grid-area: text;
  align-self: center;
}

.me .networks {
  grid-area: networks;
  align-self: center;
  justify-self: start;
  margin-top: 0.5rem;

  a > img,
  a > svg {
    width: 32px;
    padding: 2px 4px;
  }
}

.me .about-me {
  grid-area: about-me;
  align-self: center;
  justify-self: end;
  margin-top: 0.5rem;
}
