.opinions {
  grid-area: opinions;
  margin: 0;
  padding: 1rem;
  background-color: var(--section-bc);
  border-radius: 4px;
}

.opinions .scroll {
  margin-bottom: 1rem;
}

.opinions iframe {
  height: 400px;
  max-height: #{'min(50vh, 400px)'};

  width: calc(100% + 16px);
  margin-left: -16px;
  margin-right: -8px;
}

.opinions .title {
  margin-top: 0;
  display: none;
}

.opinions p {
  margin-top: 0;
  margin-right: 0;

  font-style: italic;
  font-size: 0.95rem;
  line-height: 1.15em;
  border-left: 2px solid var(--primary-color-light);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.opinions .more {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.opinions .more > :last-child {
  margin-left: 1rem;
}
