*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
	color: #666;
}

*::selection {
  color: $white;
  background-color: $brand-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: initial;
  letter-spacing: 0.5px;
  color: $brand-color;
}

h1 {
  font-size: $font-size-h1;
  margin-top: 3em;
}

h2 {
  font-size: $font-size-h2;
  margin-top: 2em;
}

h3 {
  font-size: $font-size-h3;
    margin-top: 1.5em;
}

h4 {
  font-size: $font-size-h4;
  margin-top: 1.5em;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  margin: 30px -100px;
  font-size: 28px;
  line-height: 45px;
  letter-spacing: 0.5px;
  font-style: normal;
  text-align: center;
  
  @media only screen and (max-width: $tablet) {
    margin: 30px 0;
    font-size: 24px;
    line-height: 38px;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

svg {
  display: inline-block;
  height: 1em;
  fill: currentcolor;
  box-sizing: content-box;
}

svg.outline, svg .outline {
  stroke-width: 32px;
  fill: none;
  stroke: currentColor;
}

img,
.zoom-img-wrap {
  max-width: 100%;
  height: auto;
  // vertical-align: middle;
  &+em {
    text-align: center;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $gray;
    margin-top: -1rem;
    margin-bottom: 30px;
  }
}

a {
    text-decoration: none;
    color: $link-color;
    transition: $global-transition;
    &:hover:not(.no-decoration) {
      color: darken($link-color, 10%);
    }
    &:active:not(.no-decoration) {
      color: darken($link-color, 20%);
    }
}

hr {
  display: block;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background: $light-gray;
}

.scroll::-webkit-scrollbar {
  width: 11px;
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.scroll::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.marker {
  position: relative;
  top: calc(-1 * (85px + 1rem)); // topbar + padding
}

input[type=text],
textarea,
select {
    background-color: white;
    outline: none;
		&:focus:required:invalid {
			border-color: #e02f40;
		}
		&:required:valid {
			border-color: #34a74e;
		}
    padding: 0.5rem;
}

input[type=text]:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 5px rgba(135, 76, 86, 0.8);
}

input[type=text] {
    display: block;
    border: 1px solid var(--primary-color);
}

textarea {
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
}

select {
    display: block;
    width: 100%;
    min-height: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 0;
}

fieldset {
    border: 1px solid var(--primary-color);
    margin: 0;
    padding: 0.5rem;
}

input[type=radio] {
    margin: 0.4rem;
}
