*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  color: #666;
}

*::selection {
  color: $white;
  background-color: $brand-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: initial;
  color: $brand-color;
}

h1 {
  font-size: $font-size-h1;
  margin-top: 3em;
}

h2 {
  font-size: $font-size-h2;
  margin-top: 2em;
}

h3 {
  font-size: $font-size-h3;
  margin-top: 1.5em;
}

h4 {
  font-size: $font-size-h4;
  margin-top: 1.5em;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  margin: 30px -100px;
  font-size: 28px;
  line-height: 45px;
  letter-spacing: 0.5px;
  font-style: normal;
  text-align: center;

  @media only screen and (max-width: $tablet) {
    margin: 30px 0;
    font-size: 24px;
    line-height: 38px;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.svg,
svg {
  display: inline-block;
  height: 1em;
  width: auto;
  fill: currentcolor;
  box-sizing: content-box;
}

svg.outline,
svg .outline {
  stroke-width: 32px;
  fill: none;
  stroke: currentColor;
}

img,
.zoom-img-wrap {
  max-width: #{"min(700px, 100%)"};
  height: auto;
  // vertical-align: middle;
  & + em {
    text-align: center;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $gray;
    margin-top: -1rem;
    margin-bottom: 30px;
  }
}

a {
  text-decoration: none;
  color: $link-color;
  transition: $global-transition;
  &:hover:not(.no-decoration) {
    color: darken($link-color, 10%);
  }
  &:active:not(.no-decoration) {
    color: darken($link-color, 20%);
  }
}

hr {
  display: block;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background: $light-gray;
}

// scrollbars
.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  -webkit-overflow-scrolling: auto;
}

.scroll::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
  border: none;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--scrollbar-foreground);
  background-clip: padding-box;
  border: 4px solid transparent;
}

.scroll::-webkit-scrollbar-thumb:horizontal {
  min-width: 4rem;
}

.scroll::-webkit-scrollbar-thumb:vertical {
  min-height: 4rem;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-foreground-hover);
}

.scroll {
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
  scrollbar-width: auto;
}

.marker {
  position: relative;
  top: calc(-1 * (105px + 1rem)); // topbar + padding
}

input[type="text"],
textarea,
select {
  background-color: white;
  outline: none;
  &:focus:required:invalid {
    border-color: #e02f40;
  }
  &:required:valid {
    border-color: #34a74e;
  }
  padding: 0.5rem;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px rgba(135, 76, 86, 0.8);
}

input[type="text"] {
  display: block;
  border: 1px solid var(--primary-color);
}

textarea {
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
}

select {
  display: block;
  width: 100%;
  min-height: 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 0;
}

fieldset {
  border: 1px solid var(--primary-color);
  margin: 0;
  padding: 0.5rem;
}

input[type="radio"] {
  margin: 0.4rem;
}

.circle {
  aspect-ratio: 1 / 1;
  border-radius: 100%;
}

.card {
  display: flex;
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0px 4px -1px var(--primary-color);

  &:is(a):hover {
    box-shadow: 0 0px 4px 0 var(--primary-color);
  }
}

:root {
  --global-bc: #eae3de;
  --global-tc: #565656;
  --primary-color: hsl(349, 40%, 33%);
  --primary-contrast: #ffffff;
  --primary-color-light: hsl(349, 37%, 44%);
  --section-bc: #eee9e5;

  --scrollbar-background: transparent;
  --scrollbar-foreground: hsla(349, 32%, 54%, 0.8);
  --scrollbar-foreground-hover: hsla(349, 32%, 54%, 1);
}

.no-wrap {
  white-space: nowrap;
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.a,
a,
button {
  display: inline;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1px dashed;
  cursor: pointer;

  line-height: initial;
  white-space: initial;
  font-weight: normal;
}

.a.action,
a.action,
button.action {
  line-height: 2em;
  white-space: nowrap;
  border: 1px solid;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
}

.a.action:after,
a.action:after,
button.action:after {
  content: "  \203A";
  font-size: 1.5em;
  line-height: 1;
}

.a.navigation,
a.navigation,
button.navigation {
  line-height: 2em;
  white-space: nowrap;
  border-bottom: 1px solid;
}

.a.navigation:after,
a.navigation:after,
button.navigation:after {
  content: "  \203A";
  font-size: 1.5em;
  line-height: 1;
}

.a.back:before,
a.back:before,
button.back:before {
  content: "\2190  ";
}

.a:before,
a:before,
button:before {
  content: "";
}

.vcenter {
  vertical-align: text-bottom;
}

.no-decoration {
  border: none;
  text-decoration: none;
  line-height: unset;
  color: unset;
}

.no-decoration:before {
  content: unset;
}
