---
layout: default
---

<div class="container">
  <div class="post-title-box">
    <div class="row">
      <div class="col col-10 push-1 col-11 push-t-1 col-m-12 push-m-0">
        <span class="post__date">
          <time datetime="{{ page.date | date_to_xmlschema }}"
            >{{page.date | date: '%d/%m/%Y'}}</time
          > - Publicado por <a href="{{site.data.authors[page.author].link}}">{{site.data.authors[page.author].name}}</a>
        </span>

        <h1 class="post-title">{{ page.title | escape }}</h1>

        <div class="post__info">
          {% if page.tags.size >= 1 %}
          <div class="post__tags">
            {% for tag in page.tags %}
            <a
              href="{{ site.baseurl }}/tag/{{ tag | downcase }}"
              class="post__tags-tag"
              >{{ tag }}</a
            >
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% assign no-image = nil %} {% if page.image %}
  <div class="post__head">
    <div
      class="post-image"
      style="background-image: url({{site.baseurl}}/images/{{page.image}})"
    ></div>
  </div>
  {% else %} {% assign no-image = 'post-no-image' %} {% endif %}
</div>

<div class="container">
  <div class="row">
    <!-- begin post -->
    <article class="post {{ no-image }} col col-10 col-t-10 col-m-12">
      <div class="post__content">
        {% if page.subtitle %}
        <h2 class="post-content__subtitle">{{ page.subtitle }}</h2>
        {% endif %} {{ content }}
      </div>
      <div class="post__share">
        <span class="share__title">Comparte este Artículo:</span>
        <div class="share__list list-reset">
          <a
            class="no-decoration share__facebook"
            href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Compartir en Facebook"
            rel="nofollow"
            ><img
              src="{{site.baseurl}}/images/icons/facebook.svg"
              alt="facebook"
              width="24"
              height="24"
          /></a>
          <a
            class="no-decoration share__linkedin"
            href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.excerpt | uri_escape }}&source={{ site.title | uri_escape }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Compartir en LinkedIn"
            rel="nofollow"
            ><img
              src="{{site.baseurl}}/images/icons/linkedin.svg"
              alt="linkedin"
              width="24"
              height="24"
          /></a>
        </div>
      </div>
      <a
        class="post__author-bottom card no-decoration"
        href="{{site.baseurl}}{{site.data.authors[page.author].link}}"
      >
        <div class="columnas-2">
          <div
            class="img circle"
            style="--img: url('{{site.baseurl}}{{site.data.authors[page.author].img}}')"
          ></div>
          <div class="content">
            <div class="written-by">Publicado por:</div>
            <div class="author-name">
              {{site.data.authors[page.author].name}}
            </div>
            <div class="author-description">
              {{site.data.authors[page.author].description}}
            </div>
          </div>
        </div>
        <div>
          <button class="author-navigation navigation">
            Más sobre {{site.data.authors[page.author].name}}
          </button>
        </div>
      </a>
    </article>
    <!-- end post -->
  </div>
</div>

<div class="container">
  <h2>Otros posts sugeridos:</h2>
  <div class="post__navigation">
    {% if page.previous.url %}
    <div class="prev">
      <a
        class="no-decoration post__nav__image"
        href="{{ site.baseurl }}{{page.previous.url}}"
        style="background-image: url({{site.baseurl}}/images/{{page.previous.image}})"
      ></a>
      <h2 class="post__nav__title">
        <i class="ion ion-md-arrow-back"></i>
        <a class="no-decoration" href="{{ site.baseurl }}{{page.previous.url}}"
          >{{page.previous.title}}</a
        >
      </h2>
      <div class="prev__excerpt">
        {% if page.previous.excerpt %} {{ page.previous.excerpt }} {% else %} {{
        page.previous.content | strip_html | truncate: 110 }} {% endif %}
      </div>
    </div>
    {% endif %} {% if page.next.url %}
    <div class="next">
      <a
        class="no-decoration post__nav__image"
        href="{{ site.baseurl }}{{page.next.url}}"
        style="background-image: url({{site.baseurl}}/images/{{page.next.image}})"
      >
      </a>
      <h2 class="post__nav__title">
        <a class="no-decoration" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a>
        <i class="ion ion-md-arrow-forward"></i>
      </h2>
      <div class="next__excerpt">
        {% if page.next.excerpt %} {{ page.next.excerpt }} {% else %} {{
        page.next.content | strip_html | truncate: 110 }} {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
