---

---

<div class="bg-brand-50 border-2 border-brand-300 py-6 px-4 my-8">
  <slot />
</div>

<style>
  * > :global(:first-child) {
    @apply mb-8 mt-2;
  }

  * > :global(h1),
  * > :global(h2),
  * > :global(h3) {
    @apply text-center;
  }

  * :global(ul) {
    @apply columns-[100px_4] md:px-12;
  }

  * :global(li) {
    @apply my-1 mr-2 text-sm md:my-2 md:text-base break-inside-avoid;
  }
</style>
