---
import Nav from "./nav"
import LocationIcon from "~/icons/location.astro"
import PhoneIcon from "~/icons/phone.astro"
import EmailIcon from "~/icons/email.astro"
---

<header class="sticky top-0 left-0 z-10 header">
  <div class="contact-bar">
    <a href="https://g.page/r/Cbk285IdPtR5EAg" target="_blank" rel="noopener">
      <LocationIcon class="icon" />
      <span>Bailèn 141, Esc. Izq. Entr. 6, 08037 Barcelona</span>
    </a>
    <a href="https://wa.me/34650011672" target="_blank" rel="noopener" onclick="trackContact?.('whatsapp')">
      <PhoneIcon class="icon" />
      <span>+34 650 011 672</span>
    </a>
    <a href="mailto:psicologa@nurialeon.com" rel="noopener" onclick="trackContact?.('email')">
      <EmailIcon class="icon" />
      <span>psicologa@nurialeon.com</span>
    </a>
  </div>
  <Nav pathname={Astro.url.pathname} client:load />
</header>
<style>
  .header {
    container-type: scroll-state;

    @supports (container-type: scroll-state) {
      @container scroll-state(stuck: top) {
        nav {
          @apply shadow-lg;
        }
      }
    }
    @supports (not (container-type: scroll-state)) {
      nav {
        @apply shadow-lg;
      }
    }
  }

  .contact-bar {
    @apply flex flex-wrap items-center justify-center gap-x-4 gap-y-1 bg-brand-500 px-4 py-1 text-sm text-white sm:py-2;

    a {
      @apply flex items-center gap-1 decoration-dashed underline-offset-4 hover:underline;

      .icon {
        @apply text-lg;
      }
      span {
        @apply text-center leading-none;
      }
    }
  }
</style>
