---
import GoogleMaps from "~/icons/googleMaps.astro"
import Instagram from "~/icons/instagram.astro"
import Whatsapp from "~/icons/whatsapp.astro"
import Gmail from "~/icons/gmail.astro"
---

<div class="inline-flex gap-2 py-2">
  <a
    href="https://g.page/r/Cbk285IdPtR5EAg"
    target="_blank"
    rel="noopener"
    class="tooltip"
    aria-label="Centro Núria León en Google Maps"
    ><GoogleMaps className="text-[24px]" /><div class="tooltipcontent">
      Centro Núria León - Google Maps
    </div></a
  >
  <a
    href="https://www.instagram.com/nurialeonpsicologa"
    target="_blank"
    rel="noopener"
    class="tooltip"
    aria-label="@nurialeonpsicologa en Instagram"
    ><Instagram className="text-[24px]" /><div class="tooltipcontent">
      @nurialeonpsicologa
    </div></a
  >
  <a
    href="https://wa.me/34650011672"
    target="_blank"
    rel="noopener"
    class="tooltip"
    aria-label="+34 650 011 672 en Whatsapp"
    onclick="trackContact?.('whatsapp')"
    ><Whatsapp className="text-[24px] text-[#23673c]" /><div
      class="tooltipcontent"
    >
      +34 650 011 672
    </div></a
  >
  <a
    href="mailto:psicologa@nurialeon.com"
    target="_blank"
    rel="noopener"
    class="tooltip"
    aria-label="psicologa@nurialeon.com en Email"
    onclick="trackContact?.('email')"
    ><Gmail className="text-[24px]" /><div class="tooltipcontent">
      psicologa@nurialeon.com
    </div>
  </a>
</div>
