---
import Profesional from "~/icons/profesional.astro"
---

<!-- <h2>Nuestros valores</h2>
<p>
  Ofrecemos un servicio único y exclusivo. Cuidamos todos los detalles de cada
  intervención para poder ofrecer una atención de calidad.
</p>
<ul class="grid gap-x-4 [grid-template-columns:repeat(auto-fill,250px)]">
  <li class="break-inside-avoid">
    <span class="icon">✅</span>
    <span class="text">Profesionalidad</span>
  </li>
  <li class="break-inside-avoid">
    <span class="icon">✅</span>
    <span class="text">Confidencialidad</span>
  </li>
  <li class="break-inside-avoid">
    <span class="icon">✅</span>
    <span class="text">Atención al Detalle</span>
  </li>
  <li class="break-inside-avoid">
    <span class="icon">✅</span>
    <span class="text">Compromiso</span>
  </li>
  <li class="break-inside-avoid">
    <span class="icon">✅</span>
    <span class="text">Cercanía</span>
  </li>
  <li class="break-inside-avoid">
    <span class="icon">✅</span>
    <span class="text">Búsqueda de Excelencia</span>
  </li>
</ul> -->

<style>
  li {
    @apply m-0 flex list-none flex-row items-start gap-2;
  }

  li .icon {
    @apply text-brand-400;
  }

  li .text {
    @apply text-nowrap text-left;
  }
</style>
